@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tagesschrift&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color:aqua;
    width:20vw;
    font-family:'Fira Sans',sans-serif;
    height:100vh;
}
.sidebar nav{
    padding:45px;
}
.sidebar nav li{
    list-style: none;
    font-size:30px;
    padding: 33px;
}
.main{
    background-color:bisque;
    width:80vw;
}
.container{
    display:flex;
}
.infoContainer{
    background-color: aquamarine;
    height: 60vh;
    width:60vW;
    margin: 144px auto;
    display:flex;
      justify-content:space-around;
}
.devinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Tagesschrift", system-ui;
}
.hello{
    font-size: 85px;

}
.name{
    font-size: 70px;
    font-weight:bold;
    font-family:'Fira Sans',sans-serif;
}
.about{
    font-size: 50px;
}
.button button{}
.devPic img{
    width:300px;
    height:380px;
}