@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color:aqua;
    width:20vw;
    font-family:'Fira Sans',sans-serif;
    height:100vh;
}
.sidebar nav{
    padding:45px;
}
.sidebar nav li{
    list-style: none;
    font-size:30px;
    padding: 33px;
}
.main{
    background-color:bisque;
    width:80vw;
}
.container{
    display:flex;
}
.infoContainer{
    background-color: aquamarine;
    height: 45vh;
    width:80vW;
}