@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Tagesschrift&display=swap');
*{
    margin:0;
    padding:0;
}
.sidebar{
    background-color:rgb(183, 233, 233);
    font-family:'Fira Sans',sans-serif;
    height:100vh;
    position: fixed;
    top: 0;
    left:0;
    transition: transform 0.3s ease-in;

}
.sidebar nav{
    padding:45px;
}
.sidebar nav li{
    list-style: none;
    font-size:30px;
    padding: 33px;
}
.sidebar nav li a{
    text-decoration: none;
    color:black;
}
.main{
    /* background-color:bisque; */
    width:calc(100vw-250px);
    margin-left: 250px;
    padding: 50px;
}
.container{
    display:flex;
}
.infoContainer{
    /* background-color: aquamarine; */
    height: 58vh;
    width:60vW;
    margin: 144px auto;
    display:flex;
      justify-content:space-around;
}
.devinfo{
    display:flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Tagesschrift", system-ui;
}
.hello{
    font-size: 65px;

}
.name{
    font-size: 50px;
    font-weight:bold;
    font-family:'Fira Sans',sans-serif;
}
.moreabout{
    font: size 25px;
    margin: top 23px; 
    font-family:'Fira Sans',sans-serif;
    font-style: italic;
    font-weight: bold;

}
.about{
    font-size: 40px;
}
.buttons{
    margin: top 10px;
}

.btn{
    padding:9px 14px;
    border-radius: 22px;
    color:whitesmoke;
    background-color:rgb(66, 167, 66);
    font-weight: bold;
    font-size:21px;
    margin:0 3px;
    cursor: pointer;
}
.btn-sm{
    font-size: 17px;
    margin-top: 0px;
}
.btn:hover{
     background-color:whitesmoke;
    color:rgb(66, 167, 66);

}
.devPic img{
    width:300px;
    height:380px;
}
.contactform{
    padding:0 34px;
    padding-top: 144px;
 font-family:'Fira Sans',sans-serif;
}

.contactform h1{
font-family: "Tagesschrift", system-ui;
padding: 12px 0;
}
.contactform form div{
    padding: 6px 0;
    display:flex;
    flex-direction:column;
    align-items: flex-start;
}
.contactform form div input {
    width:20vw;
    border-radius: 5px;
    margin:6px;
    padding: 3px;
}
#form-check{
flex-direction: row;
}
#form-check input{
    width: 24px;
    margin: 3px 0;
}
#emailHelp{
    font-size: 12px;
    color:mediumvioletred;
    margin:0 5px;
    padding: 3px 0 0 0;
}
.blogItem{
margin: 20px;
font-family:'Fira Sans',sans-serif;
}
h1{
    font-family:'Fira Sans',sans-serif;
}
p{
    font-family: "Tagesschrift", system-ui;
}
.btn-m{
    padding: 6px 14px;      
  font-size: 10px;  
}
.blogitem{
    margin-top: 20px;
    margin-bottom: 20px;
}
.intro h2{
    font-family:'Fira Sans',sans-serif;
    margin:12px;
}
.intro p{
     font-family: "Tagesschrift", system-ui;
     margin: 12px;
}
body {
    font-family: Arial, sans-serif;
    padding: 30px;
}

.skill {
    margin-bottom: 15px;
}

.skill span {
    display: inline-block;
    width: 90px;
    font-family: "Tagesschrift", system-ui;
    
}

.bar {
    display: inline-block;
    width: 300px;
    height: 12px;
    background: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    vertical-align: middle;
}

.fill {
    height: 100%;
    background: #17bebb;   
    border-radius: 20px;
}

/* optional different shades */
.html {
    width:20%;
     background: #17bebb; }
.css  {width:20%;
     background: #17bebb; }
.js   {width:25%;
     background: #17bebb; }

.project {
    margin-top: 30px;
}

.project h2 {
    font-size: 22px;
}

.project p {
    font-size: 16px;
    color: #333;
}
.cv-container {
  padding: 30px;
  font-family: Arial, sans-serif;
}

.cv-container h1 {
  font-size: 32px;
  margin-bottom: 5px;
}

.cv-container h2 {
  margin-top: 20px;
  color: #333;
}

.cv-container ul {
  padding-left: 20px;
}

.cv-container hr {
  margin: 20px 0;
}
@media (max-width: 1000px) {
   /* *{ */
    /* background-color: rgb(210, 197, 197); */
  /* }

  .sidebar{
    position: absolute;
    transform: translateX(-430px);
  } */
}
.sidebarGo{
    transform: translate(-443px);
    position:absolute;
}
.hamburger{
    position:absolute;
    cursor:pointer;
    top:10px;
    left:10px;
}
.cross{
    margin-top: 0px;
    margin-left: 220px;
    transition: transform 0.6s ease-in;
}




